name: Semgrep SAST Scan

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  semgrep:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run Semgrep with local rules
        run: |
          docker run --rm \
            -v "$PWD:/src" \
            -w /src \
            semgrep/semgrep \
            semgrep scan \
              --config .semgrep_rule.yml \
              . \
              --sarif --output semgrep.sarif

      - name: Upload SARIF report
        uses: actions/upload-artifact@v4
        with:
          name: semgrep-sarif
          path: semgrep.sarif
